<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="WEB_URL" value="http://google.com"/>
    <add key="SCHEDULE_MINS" value="5"/>
    <add key="SQL_DATA_SOURCE" value="172.25.19.84"/>
    <add key="SQL_DATABASE" value="postcard"/>
    <add key="SQL_USRNAME" value="webservice"/>
    <add key="SQL_PASSWORD" value=""/>
  </appSettings>
</configuration>